@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-primary-dark: #0f4bb8;
  --color-background-light: #ffffff;
  --color-background-dark: #101622;
  --font-display: var(--font-inter), sans-serif;
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-background-light);
    color: var(--color-slate-900);
    @apply font-display min-h-screen flex flex-col;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-background-dark);
      color: var(--color-slate-100);
    }
  }
}
